.chatList {
  flex: 1;
  overflow: scroll;
  
  .search{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px; 
  
   .searchBar{
     flex: 1;
     background-color: rgba(17, 25, 40, 0.5);
     display: flex;
     align-items: center;
     gap: 20px;
     border-radius: 20px;
     padding: 8px;

      input{
       background-color: transparent;
       border: none;
       outline: none;
       color: rgb(211, 205, 205);
       flex: 1;
      }

      img{
        width: 20px;
        height: 20px; 
      }
    }

    .add{
      width: 32.5px;
      height: 33px;
      background-color: rgba(17, 25, 40, 0.5);
      padding: 9px;
      border-radius: 13px;
      cursor: pointer;

    }
  }

  .item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* separador entre arquivos */
  }
  
  .texts span {
    font-weight: 500;
    color: white;
  }
  
  .texts p {
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
  }
  
  .item img {
    width: 50px;         
    height: 50px;         
    max-width: 100%;      
    max-height: 100%;     
    object-fit: cover;    
    border-radius: 25px;   
  }
   
}
